<td *ngIf="!isEdit">{{user.fio}}</td>
<td *ngIf="!isEdit">{{user.email}}</td>
<td *ngIf="!isEdit">***********</td>
<td *ngIf="!isEdit">
    <div *ngFor="let role of user.roles">{{role.name}}</div>
</td>

<td *ngIf="isEdit">
    <input [(ngModel)]="fio" type="text" matInput required="true">
</td>
<td *ngIf="isEdit">
    <input [(ngModel)]="email" type="email" matInput required="true">
</td>
<td *ngIf="isEdit">
    <input [(ngModel)]="password" type="password" matInput required="true">
</td>
<td *ngIf="isEdit">
    <p *ngFor="let role of roleList | async">{{role.name}}</p>
</td>
<td>
    <button (click)="isEdit = !isEdit" mat-raised-button color="primary">{{isEdit ? 'отмена' : 'редактировать'}}</button>
    <button (click)="onSubmit()" mat-raised-button color="primary" *ngIf="isEdit">Сохранить</button>
    <button mat-raised-button color="primary" *ngIf="!isEdit">удалить</button>
</td>