<div *ngIf="!isEdit" class="row">
    <div class="cell">{{user.fio}}</div>
    <div class="cell">{{user.email}}</div>
    <div class="cell">***********</div>
    <div class="cell">
        <div *ngFor="let role of user.roles">{{role.name}}</div>
    </div>
    <div class="cell">
        <button (click)="isEdit = !isEdit" mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
        <button (click)="delete()" mat-mini-fab color="primary"><mat-icon>delete</mat-icon></button>
    </div>
</div>
<app-user-form [isCreate]="false" *ngIf="isEdit" (updateEvent)="update($event)" (closeFormEvent)="closeForm()" [roleList]="roleList"
    [user]="user"></app-user-form>