<div *ngIf="!isEdit" class="row">
    <div>{{user.fio}}</div>
    <div>{{user.email}}</div>
    <div>***********</div>
    <div>
        <div *ngFor="let role of user.roles">{{role.name}}</div>
    </div>
    <div>
        <button (click)="isEdit = !isEdit" mat-raised-button color="primary">Редактировать</button>
        <button (click)="delete()" mat-raised-button color="primary">Удалить</button>
    </div>
</div>
<app-user-form *ngIf="isEdit" (updateEvent)="update($event)" (closeFormEvent)="closeForm()" [roleList]="roleList"
    [user]="user"></app-user-form>