<app-filter-form (filterEvent)="filter($event)"></app-filter-form>

<pagination-controls (pageChange)="meetupService.currentPage= $event"></pagination-controls>

<mat-spinner *ngIf="spinnerService.loading$ | async"></mat-spinner>

<ul class="meetup_list" *ngIf="meetupList$ | async as meetupList">
    <app-meetup 
    (subscribeEvent)="subscribe($event)"
    (unsubscribeEvent)="unsubscribe($event)"
    *ngFor="let item of meetupList | filterMeetups: searchFilter : criterionFilter | paginate: {itemsPerPage: 10, currentPage: meetupService.currentPage}" 
    [meetup]="item"
    ></app-meetup>
</ul>
